@media (min-width: 768px) {
    .header__logo{
        min-height: 52px;
        min-width: 176px;
    }
    .header__lang-link{
        font-size: 24px;
        line-height: 28px;
    }
    .header{
        margin: 28px 24px 48px;
    }
    .lead__title{
        font-size: 96px;
        line-height: 100px;
        max-width: 720px;
    }
    .lead__subtitle{
        font-size: 30px;
        line-height: 36px;
        max-width: 640px;
    }
    .lead__caption{
        margin-left: 24px;
    }
    .intro__title{
        margin: 88px 24px 40px;
        font-size: 54px;
        line-height: 58px;
    }
    .intro__text{
        margin: 0px 24px 34px;
    }
    .intro__list{
        margin: 0px 24px 88px;
    }
    .photo-grid{
        margin: 0 24px 88px;
        grid-gap: 16px;
    }
    .places{
        margin: 0 24px 17px;
    }
    .place{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 28px;
    }
    .place__title{
        margin: 0 0 48px;
        font-size: 42px;
        line-height: 46px;
        max-width: 330px;
    }
    .place__website{
        margin: 0 0 48px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }
    .place__url-heading{
        margin: 0 0 12px;
    }
    .place__link{
        margin: 0;
    }
    .place__paragraph{
        margin: 0 0 25px;
    }
    .place__paragraph:last-of-type{
        margin: 0 0 73px;
    }
    .cover{
        min-height: 480px;
        margin-bottom: 88px;
    }
    .cover__link{
        min-height: 480px;
    }
    .cover__title{
        font-size: 72px;
        line-height: 76px;
        max-width: 560px;
        padding-bottom: 32px;
    }
    .cover__subtitle{
        font-size: 18px;
        line-height: 22px;
        max-width: 360px;
    }
    .footer{
        margin: 0 24px 24px;
        flex-direction: row;
        justify-content: space-between;
    }
    .footer__links{
            flex-direction: row;
        }
    .footer__link{
        font-size: 16px;
        line-height: 18px;
        margin-bottom: 0px;
        margin-right: 18px;
    }
    .footer__copyright{
        font-size: 14px;
        line-height: 16px;
        margin: 0px;
    }
}

@media (min-width: 1024px) {
    .lead__caption{
        margin-left: 48px;
    }
    .lead__image{
        margin: 0 48px;
        width: calc(100% - 48px*2);
    }
    .intro__title{
        margin: 92px 48px 40px;
    }
    .intro__text{
        margin: 0px 48px 34px;
        max-width: 690px;
    }
    .intro__list{
        margin: 0px 48px 92px;
    }
    .photo-grid{
        margin: 0 48px 92px;
        grid-gap: 14px;
    }
    .places{
        margin: 0 48px 92px;
    }
    .place{
        column-gap: 32px;
        margin-bottom: 80px;
    }
    .place__title{
        margin: 0 0 48px;
        font-size: 72px;
        line-height: 76px;
        max-width: 430px;
    }

    .place:last-of-type{
        margin: 0;
    }
    .place__paragraph{
        margin: 0 0 27px;
        font-size: 18px;
    }
    .place__paragraph:last-of-type{
        margin: 0 0 87px;
    }
    .cover{
        min-height: 640px;
        margin-bottom: 88px;
    }
    .cover__link{
        min-height: 640px;
    }
    .footer{
        margin: 0 48px 24px;
    }
}

@media (min-width: 1280px){
    .lead__caption{
        margin-left: 148px;
    }
    .lead__image{
        margin: 0 148px;
        width: calc(100% - 148px*2);
    }
    .intro__title{
        margin: 92px 148px 40px;
    }
    .intro__text{
        margin: 0px 148px 34px;
    }
    .intro__list{
        margin: 0px 148px 92px;
    }
    .places{
        margin: 0 148px 92px;
    }
    .place{
        column-gap: 40px;
    }
    .place__title{
        max-width: 450px;
    }
    .place__paragraph{
        margin: 0 0 26px;
        font-size: 18px;
    }
    .cover{
        min-height: 740px;
        margin: 0 48px 92px;
    }
    .cover__link{
        min-height: 740px;
    }
    .footer{
        margin: 0 48px 24px;
    }

}

