.place{
    width: 100%;
    margin-bottom: 49px;
}
@media screen and (min-width: 768px) {
    .place{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 21px;
        margin-bottom: 71px;
    }
}
@media screen and (min-width: 1024px) {
    .place{
        column-gap: 22px;
        margin-bottom: 66px;
    }
     .place:last-of-type{
        margin-bottom: 0;
    }
}
@media screen and (min-width: 1280px){
    .place{
        column-gap: 38px;
    }
}